*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --header: #FFA351FF;
    --main:rgb(255, 190, 123);
    --footer:#EED971FF;
    --opaqueBlack:rgba(0,0,0,0.05);
}
body{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    width: 100vw;
    height: 100vh;
    position: relative;
}
/*HEADER*/
header{
    background-color: var(--header);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0em 0.5em;
    align-items: center;
 }
    /*Header title*/
header>h1{
    font-size: 2rem;
    text-transform: lowercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#logInBtn{
    padding: 0.25em 0.75em;
    font-size: 1.25rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    background-color: var(--header);
    transition: background-color 0.2s ease;
}
#logInBtn:hover{
    cursor: pointer;
    background-color: var(--opaqueBlack)
}

/*POPUPS*/

#popup, #logInDialog{
    max-width: 80ch;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    background-color: var(--main);
    
}
#popup::backdrop, #logInDialog::backdrop{
    background:linear-gradient(45deg, rgba(64, 224, 208,0.5), rgba(144, 238, 144,0.5) 70.71%);
}

form{
    display: flex;
    flex-direction: column;
}
form>legend{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}
.label{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    gap: 0.75em;
}
.label>input{
    background-color: var(--footer);
    border: none;
    padding: 0.5em;
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.label[for="readCheckbox"]{
    font-size: 1em;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.label[for="readCheckbox"]>input[type="checkbox"]{
    width: 2em;
    height: 2em;
}
#closeLogInBtn, #submitPopUp{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--main);
    border: none;
    transform: background-color 0.2s ease;
}
#closeLogInBtn:hover, #submitPopUp:hover{
    cursor: pointer;
    background-color: var(--opaqueBlack);
}


 /*MAIN*/
 main{
    background-color: var(--main);
     display: grid;
     grid-template-rows: 1fr 7fr;
 }
main>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#addBook{
    padding: 0.5em 1em;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    background-color: var(--main);
    transition: background-color 0.2s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#addBook:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}
#library{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0.5em;
}

#library>div{
    display: grid;
    grid-template-rows: repeat(auto-fit,1fr);
    gap: 0.5em;
    width: fit-content;
    height: fit-content;
    padding: 0.75em;
    color: black;
    font-size: 0.75rem;
    border-radius: 20px;

}


#deleteBtn{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
#deleteImg{
    width: clamp(2vmin,4vmin,6vmin);
    height: clamp(2vmin,4vmin,6vmin);
}
#readOrNotBtn{
    padding: 0.5em ;
    height: fit-content;
    font-size: 0.75rem;
    font-weight: 700;
}


/*FOOTER*/
footer{
    background-color: var(--footer);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
}
